@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');


@media only screen and (max-width: 500px) {
    .body { width:89%; padding-left:5%; padding-bottom: 10px; }
    .title { padding-left:5%; }
    .link { padding-left:5%; }
    .bottom { display: none; }
    .bodytitle { padding-left:5%; padding-top:20px; }
    .bar2 { padding-top:38px; padding-bottom:38px; }
}
@media only screen and (min-width: 500px) and (max-width: 750px) {
    .body { width:76%; padding-left:12%; padding-right:12%; padding-bottom: 30px; }
    .title { padding-left:10%; }
    .bodytitle { padding-left:12%; padding-top:40px; }
    .link { position: absolute; right: 12%; }
    .bottom { position: absolute; right: 12%; }
    .rwd-break { display: none; }
    .bar2 { padding-top:28px; padding-bottom:28px; }
}
@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .body { width:76%; padding-left:12%; padding-right:12%; padding-bottom: 50px; }
    .title { padding-left:10%; }
    .bodytitle { padding-left:12%; padding-top:60px; }
    .link { position: absolute; right: 12%; }
    .bottom { position: absolute; right: 12%; }
    .rwd-break { display: none; }
    .bar2 { padding-top:28px; padding-bottom:28px; }
}
@media only screen and (min-width: 1000px) and (max-width: 1500px) {
    .body { width:66%; padding-left:17%; padding-right:17%; padding-bottom: 50px; }
    .title { padding-left:15% }
    .bodytitle { padding-left:17%; padding-top:60px; }
    .link { position: absolute; right: 17%; }
    .bottom { position: absolute; right: 17%; }
    .rwd-break { display: none; }
    .bar2 { padding-top:28px; padding-bottom:28px; }
}
@media only screen and (min-width: 1500px) {
    .body { width:55%; padding-left:23%; padding-right:22%; padding-bottom: 50px; }
    .title { padding-left:21% }
    .bodytitle { padding-left:23%; padding-top:60px; }
    .link { position: absolute; right: 22%; }
    .bottom { position: absolute; right: 22%; }
    .rwd-break { display: none; }
    .bar2 { padding-top:28px; padding-bottom:28px; }
}

.body {
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 1.5em;
    color: #717171;
    font-size: 14px;
}

.title {
    font-family: 'Patua One', 'Times New Roman', serif;
    color: white;
    font-size: 21px;
    font-weight: bold;
}

.link {
    display: inline;
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-top:6px;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.bar {
    background-color: #333;
    overflow: hidden;
    padding-top:15px;
    padding-bottom:15px;
}

.bar2 {
    background-color: #333;
    overflow: hidden;

}


.bottom {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: white;
    text-align: right;
    text-decoration: none;
    font-size: 11px;
}

a{
text-decoration: none;
}

a:active{
text-decoration: none;
color: #00ca8a;
}

a:hover {
text-decoration: none;
color: #00ca8a;
-webkit-transition: color 0.25s;
-moz-transition:    color 0.25s;
-ms-transition:     color 0.25s;
-o-transition:      color 0.25s;
transition:         color 0.25s;
}

.bodylink {
    text-decoration: none;
    color: #00ca8a;
}

.bodytitle {
  color: #444444;
  padding-bottom:0px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Patua One', 'Times New Roman', serif;
}

.hangingindent { padding-left: 22px; text-indent: -8px; line-height: 110%; margin-bottom: 5px; }

sup { vertical-align: super; font-size: 75%; }
